<p>
  <b>商品名：<%= @item.name %></b>
</p>

<p>
  <b>商品詳細：<%= @item.email %></b>
</p>

<p>
  <b>価格：<%= @item.price %></b>
</p>

<p>
  <b>出品者：</b>
</p>

<p>
  <b>電子メール：<b>電子メール：<%= @item.email %></b></b>
</p>
<p>
  <%= image_tag @item.image_url %>
</p>